.card-list {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none !important;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-image-container {
  width: 80%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  display: flex;
  justify-content: center;
}

.card-image {
  width: 70%;
  height: 55%;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-body h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card-body p {
  margin: 5px 0;
}

.card.placeholder {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  background-color: #ddd;
  box-shadow: 0 4px 8px rgba(143, 143, 143, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.card-image-placeholder {
  width: 70%;
  height: 150px;
  background-color: #ddd;
  border-radius: 8px;
  margin: 15px 0;
  position: relative;
  overflow: hidden;
  animation: shimmer 1.5s infinite ease-in-out;
}

.placeholder-line {
  width: 80%;
  height: 20px;
  background-color: #ddd;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  animation: shimmer 1.5s infinite ease-in-out;
}

.placeholder-line.title {
  width: 60%;
  height: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.card-image-placeholder, .placeholder-line {
  background: linear-gradient(90deg, #ddd 25%, #f0f0f0 50%, #ddd 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
 
}

@media (max-width: 480px) {
  .card-image {
    width: 65%;
    height: 55%;
  }
}
